<!-- templates/clientes/cliente_form.html -->
{% extends "base.html" %}

{% block title %}{{ view.object.pk|yesno:"Editar Cliente,Novo Cliente" }}{% endblock %}

{% block content %}
<h1>{{ view.object.pk|yesno:"Editar Cliente,Novo Cliente" }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">{{ view.object.pk|yesno:"Salvar Alterações,Criar Cliente" }}</button>
    <a href="{% url 'clientes' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
